@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
	/* add background gif */
	body {
		background: url("images/Animation_Of_Stars-photo.png") no-repeat fixed !important;
		background-size: cover !important;
	}

	/* show nightly name FireFox */
	.wordmark { 
		background: url("images/firefox-wordmark.svg") no-repeat center center !important;
		-moz-context-properties: fill !important;
		background-size: 134px !important;
		height: 82px !important; 
		width: 134px !important;
		margin-top: 165px !important;
		margin-bottom: 25px !important;
		margin-inline-start: 16px !important;
		display: inline-block !important; 	
	}

	/* show nightly firefox logo */
	.search-wrapper .logo-and-wordmark .logo {
		background: url("images/nightly-logo.png") no-repeat center !important;
		background-size: auto !important;
		background-size: 82px !important;
		display: inline-block !important;
		margin-top: 165px !important;
		margin-bottom: 25px !important;
		height: 82px !important;
		width: 82px !important;
	}  
}

/* remove white flash on entry */
@-moz-document url(chrome://browser/content/browser.xhtml) {
	browser[type="content-primary"] {background: #000000 !important}
}
